/* ==== Extra small devices (portrait phones, less than 576px) ==== */
@media (max-width: 575.98px) {

    /* ---- Padding Per Page ---- */
    .about-heading,
    .skill-heading,
    .experience-heading,
    .portfolio-heading,
    .contact-heading {
        padding-top: 65px;
    }

    /* ---- Jumbotron ---- */
    .jumbotron {
        height: 725px;
    }

    .jumbotron-content {
        padding-top: 60px;
    }

    .name {
        padding-top: 25px;
        font-size: 45px;
    }

    /* ---- Tentang ---- */
    .about-desc {
        padding-top: 25px;
    }

    .about-img {
        padding-top: 100px;
    }

    /* ---- Kemampuan ---- */

    /* ---- Pengalaman ---- */

    /* ---- Portfolio ---- */

    /* ---- Kontak ---- */
}

/* ==== Small devices (landscape phones, 576px and up) ==== */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* ---- Jumbotron ---- */
    .jumbotron {
        height: 725px;
    }

    .jumbotron-content {
        padding-top: 60px;
    }

    .name {
        padding-top: 25px;
        font-size: 45px
    }
}

/* ==== Medium devices (tablets, 768px and up) ==== */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* ---- Padding Per Page ---- */
    .about-heading,
    .skill-heading,
    .experience-heading,
    .portfolio-heading,
    .contact-heading {
        padding-top: 65px;
    }

    /* ---- Jumbotron ---- */
    .jumbotron {
        height: 500px !important;
    }

    .jumbotron-content {
        padding-top: 60px;
    }

}

/* ==== Large devices (desktops, 992px and up) ==== */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* ---- Jumbotron ---- */
    .jumbotron {
        height: 100vh;
    }

    .jumbotron-content {
        padding-top: 90px;
    }

    .name {
        padding-top: 30px;
        font-size: 50px;
    }

    .me-img {
        height: 300px;
    }
}

/* ==== Extra large devices (large desktops, 1200px and up) ==== */
@media (min-width: 1200px) {

    /* ---- Padding Per Page ---- */
    .about-heading,
    .skill-heading,
    .experience-heading,
    .portfolio-heading,
    .contact-heading {
        padding-top: 65px;
    }

    /* ---- Jumbotron ---- */
    .jumbotron {
        height: 100vh;
    }

    .jumbotron-content {
        padding-top: 90px;
    }

    .name {
        padding-top: 30px;
        font-size: 50px;
    }

    .me-img {
        height: 325px;
    }


    /* ---- Tentang ---- */

    .about-img {
        height: 380px;
    }

    /* ---- Kemampuan ---- */

    /* ---- Pengalaman ---- */

    /* ---- Portfolio ---- */

    /* ---- Contact ---- */
    .contact-card {
        width: 850px;
        height: 140px;
        margin: 0 auto;
    }
}