/* ==== Navbar ==== */



/* ==== Jumbotron ==== */
.jumbotron {
    height: 100vh;
    background-color: #f6f7fb;
}

.me-img {
    height: 300px;
}


/* ==== Tentang ==== */



/* ==== Pengalaman ==== */



/* ==== Portfolio ==== */



/* ==== Kontak ==== */