body {
    font-family: 'Roboto';
}

.font-inter {
    font-family: 'Inter';
}

.font-weight-medium {
    font-weight: 500;
}

.bg-color-1 {
    background-color: #7e22ce;
}

.color-1 {
    color: #7e22ce;
}

.color-2 {
    color: #111827;
}

.color-3 {
    color: #6b7280;
}

/* ==== Navbar ==== */
.navbar-brand {
    color: #7e22ce !important;
    font-family: 'Inter';
}

.nav-item {
    padding-right: 7px;
}

.nav-item .active {
    color: #7e22ce !important;
}

.nav-link {
    color: #6b7280 !important;
}

.nav-link:hover {
    color: #7e22ce !important;
}

/* ==== Jumbotron ==== */
.jumbotron {
    background-color: #f6f7fb;
}


.btn-socmed {
    margin-right: 10px;
    font-size: 20px;
}

.btn-socmed:hover {
    color: #7e22ce;
    transition: all 0.3s;
}

.btn-explore {
    font-size: 18px;
}

.btn-explore:hover {
    box-shadow: 0px 3px 8px rgb(126, 34, 206, 0.5);
}


/* ==== Tentang ==== */
.about-desc {
    padding-top: 65px;
}


/* ==== Pengalaman ==== */



/* ==== Portfolio ==== */



/* ==== Kontak ==== */