body {
    font-family: 'Roboto';
}

.font-inter {
    font-family: 'Inter';
}

/* ==== Navbar ==== */

/* ==== Jumbotron ==== */
.jumbotron {
    height: 100vh;
    background-color: #f6f7fb;
}

.name {
    font-size: 50px;
}

.proffesion {
    color: #949398;
}

.me-img {
    height: 300px;
}


/* ==== Tentang ==== */



/* ==== Pengalaman ==== */



/* ==== Portfolio ==== */



/* ==== Kontak ==== */